[Match]
Driver=r8152

[Network]
Address=192.168.69.1/24
DHCPServer=yes

[Link]
RequiredForOnline=no

[DHCPServer]
PoolOffset=50
PoolSize=50
EmitDNS=yes
DNS=192.168.69.1
EmitRouter=no

[DHCPServerStaticLease]
MACAddress=00:25:90:d9:45:ae
Address=192.168.69.102
