[Unit]
Description=Apply configuration from config files on first boot
DefaultDependencies=no
After=local-fs.target
Before=network-pre.target systemd-hostnamed.service

[Service]
Type=oneshot
ExecStart=/usr/bin/first-boot-config.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
